{% extends "base.html" %}
{% block supplimentaryjs %}
    <script src="/js/windstorm-software.js"></script>
{% end %}
{% block sidenav %}
    <li class="list-group-item" style="cursor:pointer;" onclick="go_home()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</li>
    <li class="list-group-item active" style="cursor:pointer;" onclick="go_software()"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Software</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_testsuite()"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Test Suites</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_results()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Results</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_settings()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_about()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</li>
{% end %}
{% block main_content %}
<div class="btn-group btn-group-sm" role="group" aria-label="SoftwareOptionBar">
  <button type="button" class="btn btn-default" onclick="AddProject();"><span class="glyphicon glyphicon-plus"></span> Add</button>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-sort"></span> Sort By
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Name</a></li>
      <li><a href="#">Size</a></li>
      <li><a href="#">Test Cases</a></li>
      <li><a href="#">Activity</a></li>
      <li><a href="#">Failed Tests</a></li>
    </ul>
  </div>
</div>

<div id="SoftwareDetails" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modal-header-title" style="font-size: 140%;">Title</span>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="input-group col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="2" id="projectdescription" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">Items</span>
                        <input id="numberoffiles" type="text" class="form-control" placeholder="Number Of Files" disabled="disabled" value="0"></input>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">Project Size</span>
                        <input id="projectsize" type="text" class="form-control" placeholder="Total File Size" disabled="disabled" value="0"></input>
                        <span class="input-group-addon">Mb</span>
                    </div>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">Python Path (optional)</span>
                        <input id="optpythonpath" type="text" class="form-control"></input>
                    </div>
                </div>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="input-group col-md-12">
                        <span class="input-group-addon glyphicon glyphicon-folder-open"></span>
                        <input type="text" class="form-control " onclick="alert('Add files');" placeholder="Add Project Files/Folders"
                               ondrop="ProjectUploadFolder(event);" id="projectuploadfolder"/>
                    </div>
                    <br />
                    <div class="accordion" id="projectfilelisting">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#projectfilelisting" href="#collapsepfl">
                                    Project Contents List:
                                </a>
                            </div>
                            <div id="collapsepfl" class="accordion-body collapse in">
                                <div class="accordion-inner" id="list_projectfiles">
                                    <!-- Files go here if any are found -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Dependencies -->
            <!-- FIXME: Convert into accordians -->
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Service Dependencies
                            </a> -
                            <a href="#">[+] Add Dependency</a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">

                            </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                File Dependencies
                            </a> -
                            <a href="#">[+] Add Dependency</a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">

                            </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                Windstorm Instances
                            </a> -
                            <a href="#">[+] Add Dependency</a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-body row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UpdateProject();" id="UpdateSoftwareBtn"><span class="glyphicon glyphicon-floppy-disk"></span> Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="AddNewSoftware" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Software Project</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon" id="project_title">Title</span>
            <input id="mpname" type="text" class="form-control" placeholder="Project Name" aria-describedby="project_username"><br />
        </div>
        <!--  # Ignore top level directory location for project files for now -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="CreateSoftwareBtn"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>

  </div>
</div>
<br />
<br />
<div id="ProjectListingDiv">
</div>
{% end %}

{% block customjs %}
$(document).on('change', '.btn-file :file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
    $('#ProjectLocation').val(input.val());
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        console.log(numFiles);
        console.log(label);
    });
    GetProjects();

});
{% end %}
