{% extends "base.html" %}
{% block supplimentaryjs %}
    <script src="/js/windstorm-testsuites.js"></script>
{% end %}
{% block sidenav %}
    <li class="list-group-item" style="cursor:pointer;" onclick="go_home()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_software()"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span> Software</li>
    <li class="list-group-item active" style="cursor:pointer;" onclick="go_testsuite()"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Test Suites</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_results()"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Results</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_settings()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</li>
    <li class="list-group-item" style="cursor:pointer;" onclick="go_about()"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</li>
{% end %}

{% block main_content %}
<div class="btn-group btn-group-sm" role="group" aria-label="SoftwareOptionBar">
  <button type="button" class="btn btn-default" onclick="AddTestSuite();"><span class="glyphicon glyphicon-plus"></span> Add</button>
  <button type="button" class="btn btn-default" disabled="disabled" id="DeleteTestSuites" onclick="DeleteTestSuites();"><span class="glyphicon glyphicon-remove"></span> Delete</button>
  <div class="btn-group btn-group-sm" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-sort"></span> Sort By
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Name</a></li>
      <li><a href="#"># of Test Cases</a></li>
      <li><a href="#">Failures</a></li>
      <li><a href="#">Successes</a></li>
      <li><a href="#">Dependency: Files</a></li>
      <li><a href="#">Dependency: Services</a></li>
      <li><a href="#">Dependency: Windstorm</a></li>
    </ul>
  </div>

    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-filter"></span> Filter By
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
        </button>
        <ul class="dropdown-menu">
        <li><a href="#">Tests...</a></li>
        <li><a href="#">Has Files</a></li>
        <li><a href="#">Has Services</a></li>
        <li><a href="#">Has Windstorm</a></li>
        <li><a href="#">No Dependencies</a></li>
        </ul>
    </div>
</div>
<br /><br />
<div id="TestSuiteListing">
</div>

<div id="AddTestSuite" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Test Suite</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon" id="project_title">Name</span>
            <input id="tsname" type="text" class="form-control" placeholder="Test Suite Name" aria-describedby="testsuite_name"><br />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="CreateTestSuite" onclick="CreateTestSuite($('#tsname').val());">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ProjectSelect" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Test Suite</h4>
      </div>
      <div class="modal-body">
        <div id="projectloadergif">
            <img src="/imgs/ajax-loader.gif">
            <span> &nbsp; Checking for existing projects...</span>
        </div>
        <div id="projectlisting">
        </div>
        <hr>
        <div id="misctestuploader">
            <div class="input-group">
                <span class="input-group-addon" id="project_title">Test Uploader</span>
                <input id="testdnd" type="text" class="form-control" placeholder="Drop Tests Here" aria-describedby="upload_tests"
                       ondrop="droptest(event);" ondragover="allowDrop(event);">
                <span class="input-group-addon btn btn-default" id="plugin_settings_btn">
                    <span class="glyphicon glyphicon-cog" id="testuploadsettings"></span>
                </span>
            </div>
            <div id="misctestprogressbar" class="hidden">
            </div>
        </div>
        <div id="misctestlisting">
        </div>
      </div>
      <hr>
      <div class="modal-body row">
        <div class="col-md-6">
            Hello
        </div>
        <div class="col-md-6">
            World
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
        <button type="button" class="btn btn-default" id="accept_ts_btn"><span class="glyphicon glyphicon-save"></span> Accept</button>
      </div>
    </div>

  </div>
</div>

<div id="RunTestModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title" id="runtesttitle"></h4>
                </center>
            </div>
            <div class="modal-body">
                <div>
                    <span>On Successful completion of Tests:</span>
                    <br />
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" class="checkbox input-group-addon" id="enableemail">
                        </span>
                        <span class="input-group-addon">
                            <span>Email</span>
                        </span>
                        <input id="successemail" type="text" class="input-group-addon form-control" placeholder="Email Address" aria-describedby="email_address" style="text-align: left;"/>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" class="checkbox input-group-addon" id="enabledeploy">
                        </span>
                        <span class="input-group-addon form-control">Deploy Project</span>
                        <span class="glyphicon glyphicon-cog btn btn-default input-group-addon" id="deploysettings"></span>
                    </div>
                </div>
                <hr />
                <div>
                    <span>On Failure:</span>
                    <br />
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" class="checkbox input-group-addon" id="enableemailfail">
                        </span>
                        <span class="input-group-addon">
                            <span>Email</span>
                        </span>
                        <input id="failureemail" type="text" class="input-group-addon form-control" placeholder="Email Address" aria-describedby="email_address" style="text-align: left;"/>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-cog btn btn-success col-md-12" id="run">Run</span>
                </div>
                <br /><br />
                <div id="testprogress">
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block customjs %}
$(document).ready( function() {
    GetTestSuites();
});
function allowDrop(ev) {
    ev.preventDefault();
}

function droptest(event, a, b, c) {
    event.preventDefault();
    var data = event.dataTransfer.getData("text");
    console.log(data.split("\n"));
}
{% end %}
